# Task For The 6th Module Of The 2nd Course Of Data Science IBM

## Introduction
In this notebook i am providing an overview of various data science concepts and examples as asked in the task.

## Data Science Languages
- Python
- R
- SQL
- Scala
- Julia sometiemes as well

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools
| Tool           | Description                        |
|----------------|------------------------------------|
| Jupyter Notebook | Interactive computing environment (which i am using right now)|
| RStudio        | IDE for R                          |
| Apache Spark   | Cluster-computing framework        |
| others. | there are many other important tools that are used in Data Science|

## Arithmetic Expression Examples
Below are examples of arithmetic operations:

In [3]:
# Multiply and add numbers
result = (8 * 4) + 5
result

37

In [4]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn about data science languages
- Understand data science libraries
- Explore data science different tools
- Practice arithmetic operations as in the cell before.

## Author
Mohamed ZOUAD